@import "tailwindcss";

html,
body {
  background-color: #041323;
  color: #e6eef2;
  font-family: system-ui, sans-serif;
}

.prose {
  color: #e6eef2;
}

.prose pre {
  background: #0d1a2d;
  padding: 1rem;
  border-radius: 0.5rem;
}
